<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <div>
        Login
      </div>
      <div>
        <form class="form-inline" id="new_user_form" action="">
          {% csrf_token %}
          <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" type="text" id="username" />
            <!-- <span class="mdl-textfield__error"></span> -->
          </div>
          <div class="form-group">
            <label for="pwd">Email:</label>
            <input class="form-control" type="email" id="email" />
            <!-- <span class="mdl-textfield__error"></span> -->
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input class="form-control" type="password" id="password1" />
            <!-- <span class="mdl-textfield__error"></span> -->
          </div>
          <div class="form-group">
            <label for="pwd">Confirm Password:</label>
            <input class="form-control" type="password" id="password2" />
            <!-- <span class="mdl-textfield__error"></span> -->
          </div>
          <button class="btn btn-default" type="submit" name="" id="submit">
            SUBMIT
          </button>
        </form>
      </div>
    </div>
    <script type="text/javascript">
      $(document).on("submit", "#new_user_form", function(e) {
        e.preventDefault();
        $.ajax({
          type: "POST",
          url: "{% url '' %}",
          data: {
            username: $("#username").val(),
            email: $("#email").val(),
            password1: $("#password1").val(),
            password2: $("#password2").val(),
            csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
          },
          success: function() {
            window.location = "{% url 'login' %}";
          }
        });
      });
    </script>
  </body>
</html>
