autopep8==1.4.4
certifi==2019.11.28
chardet==3.0.4
CodeConvert==3.0.2
coreapi==2.3.3
coreschema==0.0.4
defusedxml==0.6.0
Django==2.2.21
django-admin==2.0.0
django-allauth==0.41.0
django-custom-auth-user==0.1.2
django-excel-response2==2.0.8
django-hashers-passlib==0.4
django-models-ext==1.1.9
django-redis==4.11.0
django-redis-cache==2.1.0
django-rest-auth==0.9.5
django-rest-authtoken==1.2.4
django-rest-swagger==2.2.0
django-short-url==1.1.4
django-six==1.0.4
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.4.0
furl==2.1.0
get==2019.4.13
gunicorn==20.0.4
idna==2.8
itypes==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
oauthlib==3.1.0
openapi-codec==1.3.2
orderedmultidict==1.0.1
passlib==1.7.2
pkg-resources==0.0.0
post==2019.4.13
psycopg2==2.7.4
psycopg2-binary==2.8.4
public==2019.4.13
pycodestyle==2.5.0
PyJWT==1.6.1
pymitter==0.2.3
python-dateutil==2.8.1
python-mimeparse==1.6.0
python3-openid==3.1.0
pytz==2019.3
query-string==2019.4.13
redis==3.3.11
request==2019.4.13
requests==2.22.0
requests-oauthlib==1.3.0
RestAuth==0.6.3
RestAuthCommon==0.7.0
screen==1.0.1
shortuuid==0.5.0
simplejson==3.17.0
six==1.13.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
South==1.0.2
sqlparse==0.3.0
TimeConvert==1.5.1
tzlocal==2.0.0
uritemplate==3.0.1
urllib3==1.25.7
xlwt==1.3.0
